.elements__like-btn_active {
  background: url(../../../../images/heart-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  outline: none;
  min-width: 22px;
  height: 19px;
}
